$def with(module)
<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <style>
  .container{width:50px;float:left;margin:5px;text-align:center;}
  .candle{height:100px;width:5px;border-right:solid 3px #ccc;margin-left: auto;margin-right: auto; }
  .up{background-color:red;}
  .down{background-color:green;}
  </style>
</head>
<body>
$for row in module.rows:
	<div class="container">
		<div class="candle">
			<div style='height:$(row.range_1*10)%'></div>
			<div class="$(row.updown)" style='height:$(abs(row.range_2)*10)%'></div>
			<div style='height:$(row.range_3*10)%'></div>
		</div>
		<div>$(row.range_1)$(abs(row.range_2))$(row.range_3)</div>
	</div>
<div class="container">
	<div class="candle" title="333">
		<div style='height:33%'></div>
		<div class="up" style='height:33%'></div>
		<div style='height:33%'></div>
	</div>
	<div>333</div>
</div>

</body></html>
